<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
	
	ff

    <% for(var i = 0; i < datas.length; i++) {%>
       <div> <%= datas[i].id %></div>
            <div><%= datas[i].partner_name %></div>
   
    <% } %>

</body>
</html>